/* Tableau ajout */

table#files_tab {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

table#files_tab th, table#files_tab td {
    border-right: 1px solid rgb(0,0,0,0.2);
    border-bottom: 1px solid rgb(0,0,0,0.2);
    padding: 10px;
}

table#files_tab th:first-child, table#files_tab td:first-child {
    border-left: 1px solid rgb(0,0,0,0.2);
}

table#files_tab th {
    font-weight: bold;
    background: #1dd1a1;
    color: #fff;
    border-top: 1px solid rgb(0,0,0,0.2);
}

table#files_tab tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

table#files_tab tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

table#files_tab tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table#files_tab tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

table#files_tab tr:last-child {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Input */

input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"]+label {
    margin-top: 50px;
    color: #fff;
	background-color: #1dd1a1;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    padding: 12px 15px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	transition: all 0.30s;
	cursor: pointer;
}

input[type="file"]+label:hover, input[type="file"]+label:active {
    background-color: #5adfbb;
}

input[type="file"]+label:disabled {
	background-color: #c8d6e5;
	color: #222f3e;
	cursor: not-allowed;
}
