* {
	padding: 0px;
	margin: 0px;

}

a, a:hover, a:visited, a:active {
	text-decoration: none;
}

/* Header */

nav {
	background-color: #10ac84;
	color: #fff;
}

nav .title {
    font-size: 26px;
}

nav > div {
    text-align: center;
}

nav form {
    text-align: center;
    display: initial !important;
}

nav form > a {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    color: #fff;
    background: rgba(255,255,255,0.17);
    padding: 0px 15px;
	height: 44px;
	margin: 5px;
    display: inline-block;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.30s;
    font-weight: bold;
}

nav form > a:hover {
    background: rgba(255,255,255,0.28);
}

nav form > a > span {
	position: relative;
	top: 9px;
	width: fit-content;
	font-size: 15px;
}

/* Accueil */

main > section.pair {
	background-color: #fff;
}

main > section.impair {
	background-color: #f1f1f1;
}

main > section .inner {
	text-align: center;
	padding: 30px;
}

main > section > .ligne0 {
	background-image: url("../ressources/img/accueil.jpg");
	background-size: 100%;
	background-attachment: fixed;
	min-height: 300px;
}

main > section > .ligne0 > .col-lg-5 {
	background-color: #fff
}

main > section > .ligne1 > .inner > i {
	font-size: 80px;
	margin: 20px 0;
	color: #1dd1a1;
}

main > section > .ligne0 > .col-lg-5 > .button {
}

main > section > .ligne0 > .col-lg-1 {
	background: linear-gradient( to left top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, #fff 50%, #fff 100%);
}

main > section > .ligne0 > .inner > p {
	margin: 20px 0;
}

main > section > .ligne1 > .inner > i {
	font-size: 80px;
	margin: 20px 0;
}



/* Inputs */

.label-icon {
    width: 42px;
}

/* Boutons */

a.button {
    margin: 10px 0px;
}

button:not(.close), input[type="submit"], a.button {
	color: #fff;
	background-color: #1dd1a1;
	border: none;
	border-radius: 0.25rem;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    padding: 12px 15px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	transition: all 0.30s;
	cursor: pointer;
}

button:hover:not(.close), button:active:not(.close), input[type="submit"]:hover, a.button:hover {
	background-color: #5adfbb;
}

button:disabled:not(.close), input[type="submit"]:disabled, a.button:disabled {
	background-color: #c8d6e5;
	color: #222f3e;
	cursor: not-allowed;
}

/* Tableaux */

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

table th, table td {
    border-right: 1px solid rgb(0,0,0,0.2);
    border-bottom: 1px solid rgb(0,0,0,0.2);
    padding: 10px;
}

table th:first-child, table td:first-child {
    border-left: 1px solid rgb(0,0,0,0.2);
}

table th {
    font-weight: bold;
    background: #1dd1a1;
    color: #fff;
    border-top: 1px solid rgb(0,0,0,0.2);
}

table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

table tr:last-child {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Input file */

input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label#inputLabel {
    margin-top: 50px;
    color: #fff;
	background-color: #1dd1a1;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    padding: 12px 15px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	transition: all 0.30s;
	cursor: pointer;
}

input[type="file"]+label:hover, input[type="file"]+label:active {
    background-color: #5adfbb;
}

input[type="file"]+label:disabled {
	background-color: #c8d6e5;
	color: #222f3e;
	cursor: not-allowed;
}

/* Modals */

h4.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #1dd1a1;
    margin-bottom: 25px;
}

/* Footer */

footer {
	color: #fff;
	background-color: #576574;
	text-align: center;
	font-size: 14px;
}

.footer {
	margin-top: 20px;
	background-color: #222f3e;
	padding: 20px;
	text-align: left;
}

footer > .copy {
	margin: 10px;
	font-size: 16px;
}

footer a {
	color: #fff;
}

footer h3 {
	font-weight: bold;
	font-size: 18px;
}

footer ul {
	list-style-type: none;
}
