@font-face {
    font-family: "braille";
    src: url("./BRAILLE1.ttf") format("truetype");
    font-style: normal;
}

html {
  --main-color: #10ac84;
  --main-light-color: #1dd1a1;
  --main-light-color-lighter: #5ADFBB;
  --background-color: #f1f1f1;
  --background-light-color: #fff;
}

* {
	padding: 0px;
	margin: 0px;
}


a, a:hover, a:visited, a:active {
	text-decoration: none;
}
a.link {
    color: #3498db;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: var(--background-light-color);
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}
::-webkit-scrollbar-thumb:active {
    background: var(--main-color);
}
body {
    overflow-y: scroll;
}


/* Header */

nav {
	background-color: var(--main-color);
	color: #fff;
}

nav .title {
    font-size: 26px;
}

nav > div {
    text-align: center;
}

nav form {
    text-align: center;
    display: initial !important;
}

nav form > a {
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    color: #fff;
    background: rgba(255,255,255,0.17);
    padding: 0px 15px;
	height: 44px;
	margin: 5px;
    display: inline-block;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.30s;
    font-weight: bold;
}

nav form > a:hover {
    background: rgba(255,255,255,0.28);
}

nav form > a > span {
	position: relative;
	top: 9px;
	width: fit-content;
	font-size: 15px;
}

/* Accueil */



/*Titre animé*/
.animate-contain {
    height: 52px;
    overflow: hidden;
    font-size: 40px;
}
.animated-text {
	display: inline-block;
	transition: 300ms all;
	margin-top: 0;
	animation: slide 7s infinite alternate ease-in-out;
}
.animated-text span {
    display: block;
}
@keyframes slide{
	0%{margin-top:0px;}
	27%{margin-top:0px;}
	32%{margin-top:-60px;}
	77%{margin-top:-60px;}
	82%{margin-top:-120px;}
	100%{margin-top:-120px;}
}
/**/

main > section.pair {
	background-color: var(--background-light-color);
}

main > section.impair {
	background-color: var(--background-color);
}

main > section .inner {
	text-align: center;
	padding: 30px;
}

main > section > .ligne0 {
    background-image: url("../ressources/img/accueil.jpeg");
    background-repeat: repeat;
    background-size: 25%;
    background-attachment: fixed;
    min-height: 400px;
}

main > section > .ligne0 #titrecentre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: inherit;
}

main > section > .ligne0 > .col-lg-5 {
	background-color: var(--background-light-color)
}

main > section > .ligne0 > .col-lg-1 {
	background: linear-gradient( to left top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, var(--background-light-color) 50%, var(--background-light-color) 100%);
}

main > section > .ligne0 > .inner > p {
	margin: 20px 0;
}

main > section > .ligne1 > .inner > i {
	font-size: 80px;
	margin: 20px 0;
	color: var(--main-light-color);
}

main > section > .ligne2 > .inner > .stats {
	font-weight: bold;
	font-size: 80px;
	color: var(--main-light-color);
}

/* Pages d'erreur */

div.errorpage {
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	margin: 100px 100px 400px 100px;
    padding: 50px 75px;
}

div.errorpage h1 {
	font-size: 72px;
	color: #e74c3c;
}

div.errorpage h1 i {
    animation-iteration-count: infinite;
    animation: errorblink 1.7s linear infinite;
}
@keyframes errorblink {  
    0% { color: #e64735; }
    50% { color: #e06a5d; }
    100% { color: #e64735; }
  }

/*Page de telechargement*/



div.dlpage {
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	margin: 100px 100px 400px 100px;
    padding: 50px 75px;
}

div.dlpage h1 {
	font-size: 72px;
	color: var(--main-light-color);
}


/* Inputs */

.label-icon {
    width: 42px;
}


/* Icones */

i.info {
    color: #2e86de;
}

i.success {
    color: var(--main-color);
}

i.warning {
    color: #ff9f43;
}

i.error {
    color: #ee5253;
}


i.enabled {
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.5s;
}
i.enabled:hover {
    color: #ee5253;
}

i.disabled {
    color: #ee5253;
    cursor: pointer;
    transition: all 0.5s;
}
i.disabled:hover {
    color: var(--main-color);
}


i.sort.active {
    color: #2e86de;
    cursor: pointer;
}
i.sort {
    color: #222f3e;
    cursor: pointer;
    transition: all 0.5s;
}
i.sort:hover:not(.active) {
    color: #111;
    cursor: pointer;
    transition: all 0.5s;
}

i.edit {
    color: #54a0ff;
    cursor: pointer;
    transition: all 0.2s;
}

i.edit:hover {
    color: #2e86de;
}

i.delete {
    color: #ff6b6b;
    cursor: pointer;
    transition: all 0.2s;
}

i.delete:hover {
    color: #ee5253;
}


/* Boutons */

a.button {
    margin: 10px 0px;
}


button:not(.close), input[type="submit"], a.button {
	color: var(--background-light-color);
	background-color: var(--main-light-color);
	border: none;
	border-radius: 0.25rem;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    padding: 12px 15px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	transition: all 0.30s;
	cursor: pointer;
}

button:hover:not(.close), button:active:not(.close), input[type="submit"]:hover, a.button:hover {
    background-color: var(--main-light-color-lighter);
}

button:active:not(.close), input[type="submit"]:active, a.button:active {
    box-shadow: none;
    transform: translateY(3px);
}

button:disabled:not(.close), input[type="submit"]:disabled, a.button:disabled {
	background-color: var(--background-color);
	color: #222f3e;
	cursor: not-allowed;
}

.btn-group > button:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group > button, .btn-group-vertical > button {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* Espace utilisateur */

@media only screen and (max-width: 1000px) {
    .user-nav.mobile {
        max-width: 5000px !important;
    }
}
.user-nav {
    background-color: #222f3e;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
}
.user-nav li {
    display: block;
    width: 100%;
    background-color: #222f3e;
    transition: all 0.2s;
}
.user-nav li:hover, .user-nav li:active, .user-nav li.active {
    background-color: #283849;
}
.user-nav li.active {
    border-left: solid 3px var(--main-color);
}

.user-nav li a {
    display: block;
    color: var(--background-light-color);
    font-size: 16px;
    padding: 16px 24px;
}

.user-nav li a i {
    width: 20px;
}

ul.white a, ul.white a:hover, ul.white a:visited, ul.white  a:active {
	color : #fff;
}

h4.panel-title {
	font-size: 22px;
    padding: 15px 0px 12px 0px;
	border-bottom: solid 1px #dcdcdc;
	margin-bottom: 30px;
}

div.panel-outline {
	border: solid 1px #dcdcdc;
	margin: 20px 15px;
    background-color: var(--background-light-color);
}
@media only screen and (max-width: 1000px) {
    div.panel-outline {
        margin: 20px 0px !important;
    }
}


section.panel-background {
	background-color: #f2f3f7;
    color: #404957 !important;
    min-height: 75vh;
}

canvas.quota {
	margin-bottom: 20px;
}

.item-grid {
    background-color: var(--background-light-color);
    border-radius: 0.25rem;
    border: solid 1px #e4e4e4;
}
.item-grid {
    margin: 5px;
}
.item-grid h3 {
    margin-top: 5px;
    font-weight: bold;
    font-size : 15px;
    text-align: center;
    height: 36px;
}
.item-grid img {
    text-align: center;
    padding: 0px 10px;
    width: 105px;
}

/* Graphiques pour l'espace utilisateur */

.chart-container {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Input file */

input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label#inputLabel {
    margin-top: -100px;
    color: var(--background-light-color);
	background-color: var(--main-light-color);
	border: none;
	border-radius: 5px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    padding: 12px 15px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	transition: all 0.30s;
	cursor: pointer;
}

input[type="file"]+label:hover, input[type="file"]+label:active {
    background-color: #5adfbb;
}

input[type="file"]+label:disabled {
	background-color: var(--background-color);
	color: #222f3e;
	cursor: not-allowed;
}

@keyframes finishedFilesAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
  }
}


.finishedFiles {
    animation-name: finishedFilesAnimation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.files_tab_scroll {
    overflow-y: scroll;
    height: 10em;
}

.dropzone {
    overflow-y: scroll !important;
}

.dropzone.dragover {
    border: 4px dotted var(--main-light-color);
}

/*
.dropzone.dragover {
    height: 100px;
    width: 200px;
    background: linear-gradient(90deg, var(--main-light-color) 50%, transparent 50%), linear-gradient(90deg, var(--main-light-color) 50%, transparent 50%), linear-gradient(0deg, var(--main-light-color) 50%, transparent 50%), linear-gradient(0deg, var(--main-light-color) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
    background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
    padding: 10px;
    animation: dragover-dance 3s infinite linear;
}

@keyframes dragover-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}
*/

/* Modals */

h4.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-light-color);
    margin-bottom: 25px;
}


div.alert {
	border-radius: .10rem;
	font-size: 15px;
	margin-top: 10px;
	padding: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    border-left: solid 4px #34495e;
}

div.alert.alert-warning {
    border-left: solid 4px #e74c3c;
}
.alert-warning i {
    color: #e74c3c;
}

div.alert.alert-success {
    border-left: solid 4px #2ecc71;
}
.alert-success i {
    color: #2ecc71;
}

button[value="french"], button[value="english"] {
    color: #000;
    background-color: #f2f3f7;
}
button[value="french"]:hover, button[value="english"]:hover {
    background-color: #fff;
}

button[value="kioui"] {
    color: #fff;
    background-color: #1dd1a1;
}
button[value="kioui"]:hover {
    background-color: #5adfbb;
}
button[value="frez"] {
    color: #fff;
    background-color: #ff6b6b;
}
button[value="frez"]:hover {
    background-color: #F38283;
}
button[value="dark"], button[value="braille"] {
    color: #fff;
    background-color: #2B2B2B;
}
button[value="dark"]:hover, button[value="braille"]:hover {
    color: #fff;
    background-color: #2B2B2B;
}

/* Styles CGU */

.cgu {
    min-height: 700px;
}

.cgu h3, .cgu h5 {
    font-weight: bold;
}
.cgu h6 {
    font-size: 18px;
}
.cgu p, .cgu h3, .cgu h5, .cgu h6 {
    margin: 0px;
}
.cgu button {
    width: 100%;
}

/* Tabs administration */


.nav-tabs {
    border: 0px !important;
    margin-bottom: 20px !important;
}
.nav-link {
    display: block !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    color: #666 !important;
    padding: 13px 0 !important;
    border-bottom: 1px solid #ddd !important;
    background: #f2f3f7 !important;
    transition: All 0.2s ease !important;
    border-radius: 0px !important;
}
.nav-link.active {
    background: #f2f3f7 !important;
    cursor: default !important;
    border-bottom: 3px solid var(--main-color) !important;
    color: var(--main-color) !important;
    font-weight: bold !important;
}
li.nav-item {
    width: 33.33%;
}

/* Cartes administration */



.card {
    border: 0px solid transparent !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
}

.dash-text {
    margin-right: 15px !important;
    font-size: 16px !important;
    letter-spacing: 0px !important;
    font-weight: 300 !important;
}
.dash-heading {
    margin-right: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    font-size: 34px !important;
    letter-spacing: -1px !important;
    font-weight: 300 !important;
}

.card-heading {
    height: 100px !important;
}

.panel-outline-admin {
    margin: 20px 15px;
    background-color: var(--background-light-color);
    border: 0px solid transparent !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
}

.card.admin-events {
    margin-bottom: 20px;
    border-left: solid 3px #5e7bee !important;
}

.card.admin-events-fullblue {
    margin-bottom: 20px;
    background-color: #5e7bee;
    color: #f3f3f3;
}
.card.admin-events-fullblue .card-footer .text-muted {
    color: #aebedf !important;
}

.card.admin-events-red {
    margin-bottom: 20px;
    border-left: solid 3px #ee5253 !important;
}

.card.admin-events-fullred {
    margin-bottom: 20px;
    background-color: #ee5253;
    color: #f3f3f3;
}
.card.admin-events-fullred .card-footer .text-muted {
    color: #ffced2 !important;
}

/* Footer */


footer {
    bottom:-1;
    color: var(--background-light-color);
    background-color: #576574;
    text-align: center;
    font-size: 14px;
}

.footer {
    background-color: #222f3e;
    padding: 20px;
    text-align: left;
}

footer > .copy {
	margin: 10px;
	font-size: 16px;
}

footer a {
	color: var(--background-light-color);
}

footer h3 {
	font-weight: bold;
	font-size: 18px;
}

footer ul {
	list-style-type: none;
}
