ErrorDocument 404 https://ki-oui.ythepaut.com/404
ErrorDocument 403 https://ki-oui.ythepaut.com/403
ErrorDocument 401 https://ki-oui.ythepaut.com/401

RewriteEngine On
RewriteCond %{HTTP_HOST} ^ki-oui.ythepaut\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://ki-oui.ythepaut.com/$1 [R,L]


RewriteRule ^logout$ includes/classes/actions.php?action=logout [L]
RewriteRule ^verif-email/([A-Za-z0-9_.]+)$ includes/classes/actions.php?action=verif-email&token=$1 [L]
RewriteRule ^([a-z0-9-]+)$ index.php?page=$1 [L]
RewriteRule ^espace-utilisateur/([a-z0-9-]+)$ index.php?page=espace-utilisateur&sp=$1 [L]
RewriteRule ^dl/([a-z0-9-]+)/([a-z0-9-]+)$ action.php?action=download&filename=$1&filekey=$2 [L]

Options -Indexes
